  
            <!DOCTYPE html>
            <html lang="en">
    
                <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cofirmar-pagamento</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/cart.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="nav">
            <div class="logo">
                <a href="/">Logo</a>
            </div>
            <div class="service">
                <a href="" class="user-icon">
                    <i class="fa fa-user" style="color:#ffff; font-size: 46px; padding: 2px;"></i>
                    
                </a>
                <i class="icons fa fa-phone" aria-hidden="true"> <a href="">Central de atendimento</a></i>
                <i class="icons fa fa-archive" aria-hidden="true"> <a href="">Meus pedidos</a></i>
                <i class="icons fa fa-lock" aria-hidden="true"> <a href="">Ambiente 100% seguro</a></i>
            </div>
        </div>
               
           {{ cart_content }}
                
   
        
         
                    
                    {{ pyment }}
    
                